.title {
    height: -webkit-fill-available;
    font-size: 1.5vw;
    font-weight: bolder;
    width: 30vw;
    padding-top: 0.5vw;
    margin-top: 1.7vw;
    margin-left: 1vw;
}

.subtitle {
    position: relative;
}

.menu {
    margin-bottom: 0.3vw;
    padding-bottom: 0.5vw;
}

.algorithm-select {
    margin-right: 2vw;
    margin-top: 1.6vw;
    color: white;
}

/* Buttons */
.button-visualize {
    background-color: springgreen;
    color: mediumblue;
}

.button-reset {
    margin-left: 1vw;
    border-color: white;
    color: white;
}