<div class="grid-container">
    <div class="title">
        {{ title }}
    </div>
    <div class="menu">

        <mat-form-field class="algorithm-select">
            <mat-label>Algorithm</mat-label>
            <mat-select [disabled]="renderInProgress()" [(ngModel)]="selectedAlgorithm" name="algorithm-select">
                <mat-option *ngFor="let algorithm of allAlgorithms" [value]="algorithm.index">
                    {{ algorithm.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="algorithm-select">
            <mat-label>Mazes</mat-label>
            <mat-select [disabled]="renderInProgress()" [(ngModel)]="selectedAlgorithm" name="algorithm-select">
                <mat-option *ngFor="let algorithm of allAlgorithms" [value]="algorithm.index">
                    {{ algorithm.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button (click)="visualizeAlgorithm()" [disabled]="renderInProgress()" mat-raised-button
            class="button-visualize">Visualize!</button>
        <button (click)="clearAndReset()" [disabled]="renderInProgress()" mat-stroked-button color="accent"
            class="button-reset">Reset</button>
    </div>
</div>