.header {
    background-color: var(--obstacle-color);
    color: var(--main-text-color);
    padding: 10px;
    height: 35px;

}

.title {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    font-size: 1.2vw;
    font-weight: bolder;
}