<div (click)="logInfo()" (mouseover)="onMouseOver(nodeType.Obstacle)" (mousedown)="onChangeState(nodeType.Obstacle)"
    class="node"
    [ngClass]="{ 'start-node' : node.isStart, 'end-node' : node.isFinish, 'has-been-checked' : node.markAsChecked, 'route' : node.isRoute,
    'obstacle' : node.isObstacle, 'border-color-obstacle' : node.isObstacle, 'border-color-grid' : !node.isObstacle, 'node-border' : !node.isLegendNode }">
    <!-- {{node.x}}, {{node.y}} -->
    <div *ngIf="node.isStart && !node.isRoute" class="start-node-icon right"></div>
    <div *ngIf="node.isFinish" class="end-node-icon right"></div>
</div>