.node {
    width: 20px;
    height: 20px;
    border: 0.5px solid lightskyblue;
    float: left;
    font-size: 5px;

    padding: 1px;
}

.start-node {
    background-color: red;
}

.end-node {
    background-color: royalblue;
}