.node {
    width: 1vw;
    height: 1vw;
    border: 0.5px solid;
    float: left;
    font-size: 5px;
    /* padding: 1px; */
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.border-color-obstacle {
    border-color: var(--obstacle-color);
}

.border-color-grid {
    border-color: var(--grid-color);
}

.has-been-checked {
    background-color: paleturquoise;
    transition: background-color 500ms linear;
}

.route {
    background-color: yellow;
    transition: background-color 500ms linear;
}


.obstacle {
    background-color: var(--obstacle-color);
}
