<div *ngIf="canDisplayInfo; else waiting" class="info">
    <ng-container *ngIf="objectiveFound; else notFound">
        <div>
            <span>🌌 Weapon of choice:</span>
            <span class="algorithm-type">{{ algorithmType }}</span>
        </div>
        <div>
            <span>🎠 Scanned nodes:</span>
            <span class="scanned-nodes">{{ scannedNodes }}</span>
            <span>🎯 Shortest path length:</span>
            <span class="shortest-path">{{ pathLength }}</span>
        </div>
    </ng-container>
    <ng-template #notFound>
        <div class="red">
            🎱 Couldn't find the objective!
        </div>
    </ng-template>
</div>

<ng-template #waiting>
    <div class="info">
        🌚
    </div>
</ng-template>