* {
    --grid-color: #5ab9ea;
    --obstacle-color: midnightblue;
    --main-text-color:  white;
}

.header {
    background-color: dodgerblue;
    color: var(--main-text-color);
    padding: 10px;
    height: 3vw;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    padding: 2vw;
}