<h2>Algorithms are different</h2>
<p>
    Different pathfinding algorithms output different results, and the shortest path
    given may differ.
</p>
<ul>
    <li><strong>Dijkstra</strong> (weighted): the father of pathfinding algorithms; guarantees the shortest path.</li>
    <li><strong>A*</strong> (weighted): arguably the best pathfinding algorithm; uses heuristics to guarantee the
        shortest path much faster than Dijkstra's Algorithm.</li>
    <li><strong>Breadth-first</strong> (unweighted): a great algorithm; guarantees the shortest path.</li>
    <li><strong>Depth-first</strong> (unweighted): a very bad algorithm for pathfinding; does not guarantee the shortest
        path.
    </li>
</ul>