@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #541eff;
}

a {
    color: #78dadb;
    background-image: linear-gradient(120deg, deeppink 0%, deeppink 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    text-decoration: none;
}

a:hover {
    background-size: 100% 88%;
    color: yellow;
}

.red {
    color:red;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
}

button {
    border: none;
    border-radius: 5%;
    color: white;
    padding: 0.6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
}

mat-form-field.mat-form-field {
    color:white !important;
}

.mat-select-value {
    color: white !important;
}

/* Ripple, focused */
.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: aquamarine !important;
}

/* Underline */
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: aquamarine !important;
}

/* Label color */
mat-form-field span.mat-form-field-label-wrapper label {
    color: white !important;
}

.mat-select-arrow {
    color: white !important;
}

.mat-form-field.mat-focused .mat-select-arrow {
    color: white !important;
}

/* Nodes */

.start-node-icon {
    display: inline-block;
    width: 0.35vw;
    height: 0.35vw;
    border: solid royalblue;
    border-width: 0 0.25vw 0.25vw 0;
    margin-top: 0.18vw;
    padding: 0.15vw;
}

.end-node-icon {
    border: solid 0.17vw deeppink;
    display: inline-block;
    margin-top: 0.18vw;
    width: 0.35vw;
    height: 0.35vw;
    padding: 2px;
    margin-left: 0.18vw;
}

/* Cursors */

.cursor-grab {
    cursor: grab;
}

/* Directions */

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}